

header{
    position: relative;
    height:550px;
  &>div{
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
  }
 
       .text{
           z-index: 2;
            height: 100%;
           .wrap{
           display:flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           color: $secondary;
           }
       }
    
}

@media(max-width:700px){
    header{
        .img{
            overflow: hidden;
            img{
                width:150%;
                height:100%;
            }
        }
        .text{
            h1{
                text-align: center;
                font-size: 24px;
            }
        }
    }

}