nav{
    position: fixed;
    width:100%;
    padding:10px 0px;
    z-index: 100;
    .wrap{
        display:grid;
        grid-template-columns:20% 80%;
         grid-gap: 20px;
     

        .logo{
            display: flex;
        justify-content: center;
        align-items: flex-start;
        a{
            color:$secondary;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 3px;
        }
        }
        .links{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul{
               width:200px;
              list-style: none;
              display: flex;
              justify-content: space-between;
              li{
                  a{
                      font-weight: bold;
                      color:$secondary;
 &:hover{
     text-decoration: underline;
     color:$secondary;
 }
                  }
              }
            }
        }
    }
}

@media(max-width:700px){
    nav{
        .wrap{
            grid-template-columns: 100%;
            .links{
                justify-content: center;
            }
        }
    }
}