
section{
    background-color: $tertiary-lite;
  padding-bottom:40px;
    .wrap{
        h1{
            grid-column: 1/4;
            padding-top:30px;
            color:$tertiary;
        }
        .posts{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        &>div{
            border:1px solid $tertiary;
            border-radius:5px;
            display:grid;
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(150px,250px);
            grid-gap:10px;
            overflow: hidden;
            .img{
                overflow: hidden;
            }
            .text{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: right;
                padding:0px 30px;
                i{
                    padding:10px 0px;
                    color:$tertiary;
                    font-size:13px;
                }
                p{
                    padding:10px 0px;
                    line-height: 145%;
                }
                a{
                    border:1px solid $tertiary;
                    border-radius: 5px;
                    text-align: center;
                    display: grid;
                    padding:10px 0px;
                    width:200px;
                    &:hover{
                        background-color:$primary;
                        color:$secondary;
                    }
                    
                }
            }
        }
  
     }
}

}

@media(max-width:700px){
    section{
        .wrap{
            .posts{
                &>div{
                    grid-column: 1/4;
                    display: grid;
                    grid-auto-rows: minmax(150px,280px);
                  .img,.text{
                      grid-column: 1/3;
                    //   align-items: center;
                    //   text-align: center;
                    h2{
                        font-size:20px;
                    }
                    p{
                        font-size: 16px;
                    }
                  }
            }
        }
    }
    }}

    @media (min-width:1024px) {
        section{
            .wrap{
                .posts{
                    &>div{
                        grid-auto-rows: minmax(150px,250px);
                    }
                }
            }
        }
    }
    
    @media (max-width:768px) {
        section{
            .wrap{
                .posts{
                    grid-template-columns: 1fr 1fr;
                    h1{
                        grid-column: 1/3;
                    }
                    &>div{
                        // grid-column: 1/4;
                        display: grid;
                        grid-auto-rows: minmax(150px,280px);
                      .img,.text{
                          grid-column: 1/3;
                        //   align-items: center;
                        //   text-align: center;
                        h2{
                            font-size:20px;
                        }
                        p{
                            font-size: 16px;
                        }
                      }
                }
            }
        }
        }
    }