@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=PT+Serif&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 36px;
}

h1, h2 {
  font-weight: bolder;
}

img {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

.wrap {
  height: 100%;
  width: 80%;
  margin: auto;
}

nav {
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  z-index: 100;
}

nav .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  grid-gap: 20px;
}

nav .wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav .wrap .logo a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

nav .wrap .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .wrap .links ul {
  width: 200px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .wrap .links ul li a {
  font-weight: bold;
  color: white;
}

nav .wrap .links ul li a:hover {
  text-decoration: underline;
  color: white;
}

@media (max-width: 700px) {
  nav .wrap {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  nav .wrap .links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header {
  position: relative;
  height: 550px;
}

header > div {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

header .text {
  z-index: 2;
  height: 100%;
}

header .text .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
}

header .text .wrap h1 {
  padding-left: 20px 0px;
  letter-spacing: 2px;
}

@media (max-width: 400px) {
  header .img {
    overflow: hidden;
  }
  header .img img {
    width: 150%;
    height: 100%;
  }
  header .text h1 {
    text-align: center;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  header .img, header .text {
    height: 100%;
  }
  header .img {
    overflow: hidden;
  }
  header .img img {
    width: 150%;
    height: 100%;
  }
  header .text h1 {
    text-align: center;
    font-size: 24px;
  }
}

section {
  background-color: rgba(224, 224, 224, 0.5);
  padding-bottom: 40px;
}

section .wrap h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  padding-top: 30px;
  color: rgba(145, 145, 145, 0.959);
}

section .wrap .posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

section .wrap .posts > div {
  border: 1px solid rgba(145, 145, 145, 0.959);
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: minmax(150px, 250px);
  grid-gap: 10px;
  overflow: hidden;
}

section .wrap .posts > div .img {
  overflow: hidden;
}

section .wrap .posts > div .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  padding: 0px 30px;
}

section .wrap .posts > div .text i {
  padding: 10px 0px;
  color: rgba(145, 145, 145, 0.959);
  font-size: 13px;
}

section .wrap .posts > div .text p {
  padding: 10px 0px;
  line-height: 145%;
}

section .wrap .posts > div .text a {
  border: 1px solid rgba(145, 145, 145, 0.959);
  border-radius: 5px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  padding: 10px 0px;
  width: 200px;
}

section .wrap .posts > div .text a:hover {
  background-color: black;
  color: white;
}

@media (max-width: 400px) {
  section .wrap .posts > div {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -ms-grid;
    display: grid;
    grid-auto-rows: minmax(150px, 280px);
  }
  section .wrap .posts > div .img, section .wrap .posts > div .text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  section .wrap .posts > div .img h2, section .wrap .posts > div .text h2 {
    font-size: 20px;
  }
  section .wrap .posts > div .img p, section .wrap .posts > div .text p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  section .wrap .posts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section .wrap .posts h1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  section .wrap .posts > div {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: minmax(150px, 280px);
  }
  section .wrap .posts > div .img, section .wrap .posts > div .text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  section .wrap .posts > div .img h2, section .wrap .posts > div .text h2 {
    font-size: 20px;
  }
  section .wrap .posts > div .img p, section .wrap .posts > div .text p {
    font-size: 16px;
  }
}

footer {
  height: 200px;
  background-color: black;
  color: black;
}

footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .wrap .logo a {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
}

footer .wrap .social {
  margin: 30px 0px;
}

footer .wrap .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .wrap .social ul li a img {
  width: 25px;
  height: 25px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer .wrap .copy {
  color: white;
}

.about-header {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(145, 145, 145, 0.959)));
  background-image: linear-gradient(to right, black, rgba(145, 145, 145, 0.959));
  border: 1px solid grey;
  height: 250px;
  width: 100%;
}

.about-header .wrap {
  height: 100%;
  margin: auto;
  width: 80%;
}

.about-header .wrap .post-title {
  padding-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80%;
  width: 100%;
}

.about-header .wrap .post-title h1 {
  font-size: 36px;
  text-align: center;
}

.about-header .wrap .post-title i {
  color: rgba(145, 145, 145, 0.959);
}

.container {
  position: absolute;
  top: 100px;
}

.about-section {
  background-color: whitesmoke;
  padding: 30px 0px;
}

.about-section .wrap {
  margin: auto;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  grid-gap: 10px;
}

.about-section .wrap .about-text p {
  line-height: 145%;
  margin: auto;
  text-align: left;
  width: 100%;
  padding: 0px 50px;
}

.about-section .wrap .about-text p span {
  position: relative;
  top: 10px;
  font-size: 48px;
  font-weight: bolder;
}

.about-section .wrap .about-img {
  display: -ms-grid;
  display: grid;
  margin: auto;
}

.about-section .wrap .about-img img {
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  border-radius: 5px;
}

i {
  color: rgba(145, 145, 145, 0.959);
}

.likes {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  width: 90%;
}

.likes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 230px;
}

.likes ul li {
  text-align: center;
}

.likes ul li button {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
}

.likes ul li button > hover {
  background-color: black;
  color: white;
}

@media (max-width: 700px) {
  .about-header .wrap .post-title {
    padding-top: 230px;
  }
  .about-section .wrap {
    margin: auto;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-section .wrap .about-img {
    padding: 0px 30px;
  }
  .about-section .wrap .about-text p {
    font-size: 17px;
  }
}

@media (min-width: 700px) {
  .about-section .wrap {
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
    margin: auto;
    width: 90%;
  }
  .about-section .wrap .about-text p {
    font-size: 24px;
  }
}
/*# sourceMappingURL=index.css.map */