$primary:black;
$secondary:white;
$tertiary:rgba(145, 145, 145, 0.959);
$tertiary-lite:rgba(224, 224, 224, 0.5);
$span : rgb(35, 255, 35);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=PT+Serif&display=swap');
*{
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;

}

a{
    text-decoration: none;
    color:$primary;
}

h1{
    font-size:36px;
}

h1,h2{
    font-weight: bolder;
}

img{
    width:100%;
    height:auto;
    display: grid;
    object-fit: fill;
    object-position: center;
}

.wrap{
    height:100%;
    width:80%;
    margin:auto
}

@import "nav";
@import "header";
@import "section";
@import "footer";

